#include "EditPageRes.h"
#include "../../GuiCommon.rc"

#define xc SMALL_PAGE_SIZE_X
#define yc 60

IDD_EDIT  MY_PAGE
CAPTION "Editor"
{
  LTEXT       "&Editor:", IDC_EDIT_STATIC_EDITOR, m, m, xc, 8
  EDITTEXT    IDC_EDIT_EDIT_EDITOR, m, 20, xc - m - bxsDots, 14, ES_AUTOHSCROLL
  PUSHBUTTON  "...", IDC_EDIT_BUTTON_SET, xs - m - bxsDots, 19, bxsDots, bys
}
