#include "PasswordDialogRes.h"
#include "../../GuiCommon.rc"

#define xSize2 172
#define ySize2 68
#define xSize (xSize2 + marg + marg)
#define ySize (ySize2 + marg + marg)

#define bYPos  (ySize - marg - bYSize)
#define b1XPos (xSize - marg - bXSize)
#define b2XPos (b1XPos - 10 - bXSize)


IDD_DIALOG_PASSWORD DIALOG 0, 0, xSize, ySize  MY_MODAL_DIALOG_STYLE
CAPTION "Enter password"
MY_FONT
BEGIN
  LTEXT    "&Enter password:", IDC_STATIC_PASSWORD_HEADER, marg, marg, xSize2, 8
  EDITTEXT  IDC_EDIT_PASSWORD, marg , 19, xSize2, 14, ES_PASSWORD | ES_AUTOHSCROLL
  
  CONTROL  "&Show password", IDC_CHECK_PASSWORD_SHOW, "Button", BS_AUTOCHECKBOX | WS_TABSTOP,
           marg, 41, xSize2, 10

  DEFPUSHBUTTON  "OK",     IDOK,     b2XPos, bYPos, bXSize, bYSize
  PUSHBUTTON     "Cancel", IDCANCEL, b1XPos, bYPos, bXSize, bYSize
END
