#include "ProgressDialog2IconRes.h"

IDI_SYSTRAY_0  ICON  "../../UI/FileManager/trayico/tray00.ico"
IDI_SYSTRAY_1  ICON  "../../UI/FileManager/trayico/tray01.ico"
IDI_SYSTRAY_2  ICON  "../../UI/FileManager/trayico/tray02.ico"
IDI_SYSTRAY_3  ICON  "../../UI/FileManager/trayico/tray03.ico"
IDI_SYSTRAY_4  ICON  "../../UI/FileManager/trayico/tray04.ico"
IDI_SYSTRAY_5  ICON  "../../UI/FileManager/trayico/tray05.ico"
IDI_SYSTRAY_6  ICON  "../../UI/FileManager/trayico/tray06.ico"
IDI_SYSTRAY_7  ICON  "../../UI/FileManager/trayico/tray07.ico"
IDI_SYSTRAY_8  ICON  "../../UI/FileManager/trayico/tray08.ico"
IDI_SYSTRAY_9  ICON  "../../UI/FileManager/trayico/tray09.ico"
IDI_SYSTRAY_10 ICON  "../../UI/FileManager/trayico/tray10.ico"
IDI_SYSTRAY_11 ICON  "../../UI/FileManager/trayico/tray11.ico"
IDI_SYSTRAY_12 ICON  "../../UI/FileManager/trayico/tray12.ico"
IDI_SYSTRAY_13 ICON  "../../UI/FileManager/trayico/tray13.ico"
IDI_SYSTRAY_14 ICON  "../../UI/FileManager/trayico/tray14.ico"
//IDI_SYSTRAY_15 ICON  "../../UI/FileManager/trayico/tray15.ico"
//IDI_SYSTRAY_16 ICON  "../../UI/FileManager/trayico/tray16.ico"
