#include "PropertyNameRes.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

STRINGTABLE
BEGIN
  IDS_PROPERTY_PATH       "Path"
  IDS_PROPERTY_NAME       "Name"
  IDS_PROPERTY_EXTENSION  "Extension"
  IDS_PROPERTY_IS_FOLDER  "Folder"
  IDS_PROPERTY_SIZE       "Size"
  IDS_PROPERTY_PACKED_SIZE "Packed Size"
  IDS_PROPERTY_ATTRIBUTES "Attributes"
  IDS_PROPERTY_CREATION_TIME "Created"
  IDS_PROPERTY_LAST_ACCESS_TIME "Accessed"
  IDS_PROPERTY_LAST_WRITE_TIME "Modified"
  IDS_PROPERTY_SOLID      "Solid"
  IDS_PROPERTY_C0MMENTED  "Commented"
  IDS_PROPERTY_ENCRYPTED  "Encrypted"
  IDS_PROPERTY_DICTIONARY_SIZE "Dictionary Size"
  IDS_PROPERTY_SPLIT_BEFORE "Split Before"
  IDS_PROPERTY_SPLIT_AFTER "Split After"
  IDS_PROPERTY_CRC        "CRC"
  IDS_PROPERTY_FILE_TYPE  "Type"
  IDS_PROPERTY_ANTI       "Anti"
  IDS_PROPERTY_METHOD     "Method"
  IDS_PROPERTY_HOST_OS    "Host OS"
  IDS_PROPERTY_FILE_SYSTEM "File System"
  IDS_PROPERTY_USER "User"
  IDS_PROPERTY_GROUP "Group"
  IDS_PROPERTY_BLOCK "Block"
  IDS_PROPERTY_COMMENT "Comment"
  IDS_PROPERTY_POSITION "Position"
  IDS_PROPERTY_PREFIX "Path Prefix"
  IDS_PROPERTY_FOLDERS "Folders"
  IDS_PROPERTY_FILES "Files"
  IDS_PROPERTY_VERSION "Version"
  IDS_PROPERTY_VOLUME "Volume"
  IDS_PROPERTY_IS_VOLUME "Multivolume"
  IDS_PROPERTY_OFFSET "Offset"
  IDS_PROPERTY_LINKS "Links"
  IDS_PROPERTY_NUM_BLOCKS "Blocks"
  IDS_PROPERTY_NUM_VOLUMES "Volumes"

END
