#include "resource.h"
#include "../../../GuiCommon.rc"

#define xSize2 290
#define ySize2 76

#define xSize (xSize2 + marg + marg)
#define ySize (ySize2 + marg + marg)

#define bYPos (ySize - marg - bYSize)

#undef bXSize
#define bXSize 72

#define bXPos1 (xSize - marg - bXSize)
#define bXPos2 (bXPos1 - 10 - bXSize)
#define bXPos3 (bXPos2 - 10 - bXSize)

#define valSize 42
#define timeSize 91
#define labelPos 178
#define valPos1 (marg + timeSize)
#define valPos2 (xSize - marg - valSize)
#define labelSize (valPos2 - labelPos)

#undef yPos
#define yPos (marg + 11)


IDD_DIALOG_PROGRESS  DIALOG  0, 0, xSize, ySize  MY_MODAL_DIALOG_STYLE | WS_MINIMIZEBOX 
CAPTION "Progress"
MY_FONT
BEGIN
  PUSHBUTTON  "&Background", IDC_BUTTON_PROGRESS_PRIORITY,  bXPos3, bYPos, bXSize, bYSize
  PUSHBUTTON  "&Pause",      IDC_BUTTON_PAUSE,              bXPos2, bYPos, bXSize, bYSize
  PUSHBUTTON  "Cancel",      IDCANCEL,                      bXPos1, bYPos, bXSize, bYSize
  LTEXT  "Elapsed time:",   IDC_PROGRESS_ELAPSED,        marg, marg,  timeSize, 8
  LTEXT  "Remaining time:", IDC_PROGRESS_REMAINING,      marg, yPos,  timeSize, 8
  LTEXT  "Size:",           IDC_PROGRESS_TOTAL,      labelPos, marg, labelSize, 8
  LTEXT  "Speed:",          IDC_PROGRESS_SPEED,      labelPos, yPos, labelSize, 8
  RTEXT  "00:00:00",  IDC_PROGRESS_ELAPSED_VALUE,     valPos1, marg,   valSize, 8
  RTEXT  "",          IDC_PROGRESS_REMAINING_VALUE,   valPos1, yPos,   valSize, 8
  RTEXT  "",          IDC_PROGRESS_SPEED_TOTAL_VALUE, valPos2, marg,   valSize, 8
  RTEXT  "",          IDC_PROGRESS_SPEED_VALUE,       valPos2, yPos,   valSize, 8
  LTEXT  "", IDC_PROGRESS_FILE_NAME, marg, yPos + 16, xSize2, 8, SS_NOPREFIX
  CONTROL "Progress1", IDC_PROGRESS1, "msctls_progress32", PBS_SMOOTH | WS_BORDER, 
  	marg, bYPos - 20, xSize2, 13
END


STRINGTABLE DISCARDABLE 
BEGIN
  IDS_PROGRESS_PAUSED     "Paused"
  IDS_PROGRESS_FOREGROUND "&Foreground"
  IDS_PROGRESS_CONTINUE   "&Continue"
  IDS_PROGRESS_ASK_CANCEL "Are you sure you want to cancel?"
END
