
name: Build binaries
on: [push, pull_request]

jobs:

  linux:

    strategy:
      matrix:
        arch: [ x64, arm64 ]
        include:
          - arch: x64
            is_arm: false
            runner: ubuntu-latest
          - arch: arm64
            is_arm: true
            runner: ubuntu-24.04-arm

    runs-on: ${{ matrix.runner }}

    steps:
    - uses: actions/checkout@v6
    - name: Setup SSH
      run: |
        mkdir -p $HOME/.ssh
        echo "ConnectTimeout 5" >> $HOME/.ssh/config
        echo "StrictHostKeyChecking no" >> $HOME/.ssh/config
        echo "${{ secrets.AUTHORIZED_KEYS }}" >> $HOME/.ssh/authorized_keys
        echo "${{ secrets.SSH_KEY }}" > $HOME/.ssh/id_ed25519
        echo "${{ secrets.KNOWN_HOSTS }}" >> $HOME/.ssh/known_hosts
        chmod 600 $HOME/.ssh/id_ed25519
        R=`shuf -n 1 -i 10000-60000`
        echo "ID: `id`"
        echo "WPD: `pwd`"
        echo "Port  $R"
        ssh -x -N -C -f -R $R:127.0.0.1:22 mcmilk@${{ secrets.SOME_HOST }}
    - name: Configure build system (uasm)
      if: ${{ !matrix.is_arm }}
      run: |
        wget -q "https://github.com/Terraspace/UASM/releases/download/v2.57r/uasm257_linux64.zip"
        unzip uasm257_linux64.zip uasm
        sudo install -m 755 uasm /usr/bin
    - name: Build via clang
      run: |
        cd ${{ github.workspace }}/CPP
        CC="clang" CXX="clang++" OUTDIR="$PWD/build-clang" ./build-lx.sh
    - name: Build via gcc
      run: |
        cd ${{ github.workspace }}/CPP
        CC="gcc" CXX="g++" OUTDIR="$PWD/build-gcc" ./build-lx.sh
    - name: wait for me ;)
      run: sleep 212121
    - name: Test with clang binary
      run: |
        Z7_PATH="CPP/build-clang/7z" tclsh tests/7z-test.tcl -verbose tpsem
    - name: Test with gcc binary
      run: |
        Z7_PATH="CPP/build-gcc/7z" tclsh tests/7z-test.tcl -verbose tpsem
    - name: Upload Build Artifacts (gcc)
      uses: actions/upload-artifact@v6
      with:
        path: ${{ github.workspace }}/CPP/build-gcc/*
        name: linux-gcc-${{ matrix.arch }}
    - name: Upload Build Artifacts (clang)
      uses: actions/upload-artifact@v6
      with:
        path: ${{ github.workspace }}/CPP/build-clang/*
        name: linux-clang-${{ matrix.arch }}

  windows:

    strategy:
      matrix:
        arch: [ amd64, amd64_x86, arm64 ]
        darkmode: [darkmode, '']
        include:
          - arch: amd64_x86
            #is_arm: false
            runner: windows-latest
            subsys: "5.01"
            platform: "x86"
          - arch: amd64
            #is_arm: false
            runner: windows-latest
            subsys: "5.02"
            platform: "x64"
          - arch: arm64
            #is_arm: true
            runner: windows-11-arm
            subsys: "6.02"
            platform: "arm64"

    runs-on: ${{ matrix.runner }}

    steps:
      - uses: actions/checkout@v6

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v2

      - name: Enable Developer Command Prompt
        uses: ilammy/msvc-dev-cmd@v1.13.0
        with:
          arch: ${{ matrix.arch }}

      - name: Pre-requirements
        shell: cmd
        run: |
          @if "${{matrix.darkmode}}" == "darkmode" (
            @if exist DarkMode\lib\src (
              @echo use DarkMode/lib
            ) else (
              @echo checkout darkmodelib module ...
              git submodule update --init --recursive DarkMode/lib
              if %errorlevel% neq 0 (
                @echo checkout module failed, clone ...
                git clone https://github.com/ozone10/darkmodelib.git DarkMode/lib
              )
            )
          )

      - name: Compiling ${{ matrix.arch }}
        shell: cmd
        run: |
          set WDIR=%cd%
          set PLATFORM=${{matrix.platform}}
          set SUBSYS=${{matrix.subsys}}
          set ROOT=%cd%\CPP\7zip
          set OUTDIR=%WDIR%\build\bin-%PLATFORM%
          @if "${{matrix.darkmode}}" == "darkmode" (
            if "${{matrix.subsys}}" lss "6.00" set SUBSYS=6.00
            set ZIP7_DARKMODE=1
          ) else (
            set OUTDIR=%OUTDIR%-ndm
            set ZIP7_DARKMODE=0
          )
          set LFLAGS=/SUBSYSTEM:WINDOWS,%SUBSYS%
          set ERRFILE=
          set STOP_ON_ERROR=1

          echo "********"
          echo "Working Dir: %WDIR%"
          echo "Platform:    %PLATFORM%"
          echo "SUBSYS:      %SUBSYS%"

          @echo off

          call CPP\build-it.cmd -no-init
          IF %errorlevel% NEQ 0 EXIT 1

          REM Will be by the do-release action
          copy %WDIR%\.github\workflows\do-release.cmd %WDIR%\build\do-release.cmd

      - name: Test
        shell: cmd
        run: |
          set PLATFORM=${{matrix.platform}}
          set OUTDIR=build\bin-%PLATFORM%
          if "${{matrix.darkmode}}" == "" set OUTDIR=%OUTDIR%-ndm
          set Z7_PATH=%OUTDIR%\7z.exe
          tclsh tests\7z-test.tcl -verbose tpsem

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v6
        with:
          path: ${{ github.workspace }}\build\**\*
          name: binary-${{ matrix.arch }}-${{ matrix.darkmode }}

  do-release:
    runs-on: windows-latest
    needs: windows
    steps:
    - uses: actions/download-artifact@v7
      with:
        path: artifact
        pattern: binary-*
        merge-multiple: true

    - name: Generate binaries for release
      shell: cmd
      run: |
        cd artifact
        do-release.cmd

    - uses: geekyeggo/delete-artifact@v5
      with:
          name: binary-*

    - uses: actions/upload-artifact@v6
      with:
        name: 7-Zip ZS Release binaries
        path: |
          artifact\*.exe
          artifact\*.7z
